.map-page {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.back-button {
  position: absolute;
  left: 5%;
}

.map-title {
  margin-top: 10px;
  z-index: 1000;
}

.top-container {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  height: 175px;
  width: 100%;
  z-index: 999;
}

.item-map-container {
  position: absolute;
  width: 100%;
  top: 175px;
  height: calc(100vh - 175px);
  overflow: hidden;
}
